/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


.form-label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #3b3b44;
}
/*
.btn-primary{
    background: #00c2ef;
    border: 1px solid #00c2ef;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 35px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    float: right;
}
*/
.btn-primarys{
    background: #00c2ef;
    border: 1px solid #00c2ef;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 35px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    float: right;
}

.btn-int {
    background: #fff;
    color: #00c2ef;
    border: 1px solid #00c2ef;

    border-radius: 35px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    float: right;
}

#img-logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 50px;
}

#title {
    position: absolute;
    height: 63px;
    left: 55px;
    top: 140px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;

    color: #ffffff;
}

.text {
    position: absolute;

    height: 40px;
    left: 55px;
    top: 230px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.line-mft {
    height: 5px;
    background: #c9c9c9;
    margin: 0 auto;
}

#inft {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #c9c9c9;
}

#inf {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #00c2ef;
}

.line-mf {
    height: 5px;
    background: #00c2ef;
    margin: 0 auto;
}

.capa-exterior {
    background-image:url('../../images/bg-login.png');
    min-height: 400px;
    position: relative;
}

.capa-interior {
    position: absolute;
    width: 554px;
    height: 63px;
    left: 77px;
    top: 170px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    color: #ffffff;
}

.capa-exterior2 {
    position: absolute;
    width: 1208px;
    height: 40px;
    left: 80px;
    top: 303px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
}

.margin {
    margin-left: 70px;
    margin-top: 30px;
}


.footer-section {
    background: #0f161c;
    position: relative;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}